body {
    margin: 0;
    background: white;
    color: #121212;
}

.top-bar {
    height: 8px;
    background: #d71920;
}

.article {
    max-width: 720px;
    margin: 60px auto;
    padding: 0 24px;
}

.publication {
    font-family: Inter, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #d71920;
    margin-bottom: 24px;
}

h1 {
    font-family: Merriweather, serif;
    font-size: 3rem;
    line-height: 1.15;
    margin-bottom: 12px;
}

h2 {
    font-family: Merriweather, serif;
    font-size: 1.4rem;
    font-weight: 300;
    color: #555;
    margin-top: 0;
}

.meta {
    font-family: Inter, sans-serif;
    color: #666;
    margin-top: 24px;
    margin-bottom: 32px;
}

.content {
    font-family: Merriweather, serif;
    font-size: 1.15rem;
    line-height: 1.9;
}

.content p {
    margin-bottom: 1.8em;
}

hr {
    border: none;
    border-top: 1px solid #e5e5e5;
    margin: 40px 0;
}
.cover-image {
    width: 100%;
    display: block;
    margin: 35px 0 45px 0;
    border-radius: 4px;
}
.references {
    margin-top: 50px;
}

.references h3 {
    font-family: Inter, sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.reference {
    font-family: Merriweather, serif;
    line-height: 1.8;
    margin-bottom: 20px;
    padding-left: 36px;
    text-indent: -36px;
}
.article-figure {
    width: 75%;
    margin: 40px auto;
}

.article-image {
    width: 100%;
    display: block;
}

.article-figure figcaption {
    font-family: Inter, sans-serif;
    font-size: 0.85rem;
    color: #555;
    margin-top: 10px;
}

.image-credit {
    font-family: Inter, sans-serif;
    font-size: 0.75rem;
    color: #888;
    margin-top: 5px;
}
